<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.octopuscommunity.octopusreactnativesdk">
  <application>
    <activity
      android:name=".OctopusUIActivity"
      android:exported="false"
      android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
  </application>
</manifest>
